<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/navbar_style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/mostrarReserva.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: rgb(22,22,22);">
        <div class="container-fluid">
          <img src="img/logo_banner.png" class="logo">
    
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topbar">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div id="topbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="http://localhost:3000/reserva"> <b>Regresar</b> </a></li>
          </div>
        </div>
      </nav>

    <div class="contenedor-reserva">
        <h2>Informacion de la reserva</h2>
        <div class="mostrar-reserva">
            <p><span>Nombre: </span><%= nombre %></p>
            <p><span>Correo: </span><%= email %></p>
            <p><span>Telefono: </span><%= telefono %></p>
            <p><span>Numero de personas: </span><%= numPersonas %></p>
            <p><span>servicio: </span><%= servicio %></p>
            <p><span>Fecha: </span><%= fecha %></p>
            <p><span>Hora: </span><%= hora %></p>
            <p><span>Mensaje: </span><%= mensaje %></p>
        </div>
    </div>

    <footer>
        <div class="contenido-footer">

          <img src="img/logo_banner.png" class="logo">              

          <div class="mapa-sitio">
              <a class="titulo-mapa text-decoration-none" href="#"> <h2>Mapa del sitio</h2> </a>
              <div class="lista-mapa-sitio">
                  <a href="http://localhost:3000/">inicio</a>
                  <a href="http://localhost:3000/nosotros">nosotros</a>
                  <a href="http://localhost:3000/menu">menú</a>
                  <a href="#">servicios</a>
                  <a href="http://localhost:3000/contacto">contactenos</a>
              </div>                
          </div>

          <div class="servicios-footer">
              <h2>servicios especiales</h2>
              <div class="lista-servicios">
                  <li>fiestas tematicas</li>
                  <li>cumpleaños</li>
                  <li>cartoon party</li>
              </div>                
          </div>
        </div>        
    </footer>

    <script src="js/mensajeReserva.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>